@using Microsoft.AspNetCore.Http;
@using System.IO;
@using System.Security.Claims;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineMovieDatabase</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/x-icon" href="~/static/images/favicon150.png" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("head", false)
</head>
<body id="mainBody" class="mainBody">
    <header>
        <nav class="md-form active-purple active-purple-2 back-gray mynavbar m-0 border-bottom box-shadow mb-3">
            <div class="mynavnamelabel">
                <a class="bigMainLabelFont" asp-area="" asp-controller="Home" asp-action="Index" title="На главную">OnlineMovieDatabase</a>
            </div>
            <div class=" d-sm-inline-flex mynavmenus">
                            <a asp-area="" asp-controller="Titles" asp-action="Index">
                                <label class="mynavlink">Фильмы</label>
                            </a>
                            <a asp-controller="Genres" asp-action="Index">
                                <label class="mynavlink">Жанры</label>
                            </a>
                            <a  asp-controller="Account" asp-action="UserList">
                                <label class="mynavlink">Пользователи</label>
                            </a>
                <form asp-controller="Search" class="searchForm" asp-action="Index" asp-route-SearchString="SearchString" method="get">
                    <div class="searchdiv">
                        <input name="SearchString" class="form-control" type="text" placeholder="Поиск" aria-label="Search">
                        <input type="image" class="searchbutton" src="~/static/images/InterfaceButtons/Search.png" height="37" title="Поиск" alt="Submit form" />
                    </div>
                </form>
            </div>
            <div align="right" class="userinfo d-sm-inline-flex">
                @if (User.Identity.IsAuthenticated)
                {
                    string id = "-1";
                    string name = "";
                    if (User.Claims != null)
                    {
                        if (User.Claims.Count() > 0)
                        {
                            Claim c_id = User.FindFirst(u => u.Type == "Id");
                            id = (c_id == null ? User.FindFirst(u => u.Type == "Id").Value : User.Claims.FirstOrDefault(u => u.Type == "Id").Value);

                            Claim c_name = User.FindFirst(u => u.Type == "Name");
                            name = (c_name == null ? User.FindFirst(u => u.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name").Value : User.Claims.FirstOrDefault(u => u.Type == "Name").Value);
                        }
                    }

                    <label class="bigLabelFont">Привет,@(User.IsInRole("admin") ? " админ" : "") @name!</label>
                    <a asp-controller="Account" asp-action="Index" title="Личный кабинет">
                        <div class="smalluseravatar">
                            <img src="~/static/images/UsersAvatars/@(id).jpg" onerror="this.src='../static/images/UsersAvatars/NoAvatar/NoAvatar50px.png'" />
                        </div>
                    </a>
                    <a asp-controller="Account" asp-action="Logout">
                        <img src="~/static/images/Logout/logout50px.png" title="Выход" />
                    </a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login">
                        <img src="~/static/images/Login/login50px.png" title="Вход" />
                    </a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
