@model int
@{
    ViewData["Title"] = Model;
}
<body backgroung="#FFFFFF">
    <div align="center">
        @*<img class="rot" src="~/static/images/StatusCodes/@(@Model.ToString())_.png" height= "600" onerror="this = new HTMLLabelElement(); this.Text='123'" />*@
        <h1>@Model</h1>
    </div>
</body>